@-webkit-keyframes spin {
  from {
    transform: rotate(0deg) scaleX(0.7);
  }
  50% {
    transform: rotate(180deg) scaleX(0.7);
  }
  to {
    transform: rotate(360deg) scaleX(0.7);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg) scaleX(0.7);
  }
  50% {
    transform: rotate(180deg) scaleX(0.7);
  }
  to {
    transform: rotate(360deg) scaleX(0.7);
  }
}
pre::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  background-color: #444444;
}

pre::-webkit-scrollbar, body::-webkit-scrollbar-track {
  width: 12px;
  background-color: #F5F5F5;
}

pre::-webkit-scrollbar-thumb, body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #50a130;
  border: 5px solid transparent;
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
}

body {
  background: #191919;
}

p {
  padding-left: 1em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu";
  letter-spacing: 0.7px;
}

h1 {
  margin-bottom: 1.5rem;
}

section {
  margin-top: 3rem;
}

details summary {
  display: flex;
  align-items: center;
}
details summary > i {
  font-size: 1.25em;
  margin-right: 0.7em;
  transition: 0.17s transform ease;
}
details[open] i {
  transform: rotate(90deg);
}
details > p {
  line-height: 1.2;
}

label {
  width: 100%;
  text-align: start;
  font-size: 20px;
  color: #a3a3a3;
}

pre {
  overflow-x: auto;
  text-align: start;
}

code {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

section > center > div {
  min-width: 15em;
  max-width: 25em;
}

main {
  z-index: 1;
}
main a {
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  color: #648f52;
  background: #191919;
  transition: 0.2s all ease;
  padding: 0 0.25em;
}
main a > span {
  color: #648f52;
  background: #191919;
  transition: inherit;
  border-radius: 7px;
}
main a:hover {
  color: #191919;
  background: #648f52;
}
main a:hover > span {
  color: #191919;
  background: #648f52;
}

#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #191919;
  filter: blur(13px);
  transition: 1s all ease;
}
#background > .circle {
  transform: none;
  transition: inherit;
  border-radius: 50%;
  position: absolute;
}
#background > .circle.a-spin {
  -webkit-animation: spin 20s infinite linear;
          animation: spin 20s infinite linear;
}
#background > .circle.little {
  width: 23rem;
  height: 23rem;
  font-size: 4em;
}
#background > .circle.big {
  width: 70rem;
  height: 70rem;
}
#background > .circle.green {
  background: #2d8809;
}
#background > .circle.dark-green {
  background: #1d5308;
}
#background > .circle.compr-x {
  transform: scaleX(0.7);
}
#background > .circle.compr-y {
  transform: scaleY(0.6);
}
#background > .circle.wide-x {
  transform: scaleX(1.9) scaleY(0.7);
}
#background > .circle.wide-y {
  transform: scaleY(1.7);
}
#background > #drone {
  position: absolute;
  transition: 3s all ease;
  transition-delay: 0.4s;
  height: 3em;
  transition-timing-function: cubic-bezier(0.38, 0.5, 0.14, 1.06);
}
#background .star {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 0;
  height: 0;
  font-size: 15em;
  margin: 0 0.9em 1.2em 0.9em;
  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid #648f52;
  border-left: 0.3em solid transparent;
  filter: blur(30px);
  transform: rotate(35deg);
}
#background .star:before, #background .star:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0.6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #648f52;
  border-left: 1em solid transparent;
  transform: rotate(-35deg);
}
#background .star:after {
  transform: rotate(35deg);
}

.code-block {
  max-height: 50vh;
  max-width: 50em;
  font-size: 14px;
}

.defenition {
  background-color: rgba(41, 63, 42, 0.5);
  padding: 1em;
}
.defenition a {
  background: 0;
}