$bg-dark: #191919;

$link-text: #648f52;
$link-text-hover: #50a130;

$bg-green: #2d8809;
$bg-green-dark: #1d5308;



@keyframes spin {
    from{
        transform: rotate(0deg) scaleX(.7);
    }
    50%{
        transform: rotate(180deg) scaleX(.7);
    }
    to{
        transform: rotate(360deg) scaleX(.7);
    }
}


pre::-webkit-scrollbar-track, body::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    background-color: #444444;
}
pre::-webkit-scrollbar, body::-webkit-scrollbar-track
{
    width: 12px;
    background-color: #F5F5F5;
}
pre::-webkit-scrollbar-thumb, body::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: $link-text-hover;
    border: 5px solid transparent;
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent) 
}



body {
    background: $bg-dark;
}
p{
    padding-left: 1em;
    line-height: 1.1;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu';
    letter-spacing: .7px;
}
h1{
    margin-bottom: 1.5rem;
}
section{
    margin-top: 3rem;
}
.row{
    margin-left: 0;
}

details{
    summary{
        display: flex;
        align-items: center;
    
        > i{
            font-size: 1.25em;
            margin-right: .7em;
            transition: .17s transform ease;
        }
    }

    &[open]{
        i {
            transform: rotate(90deg);
        }
    }
    > p {
        line-height: 1.2;
    }
}
label{
    width: 100%;
    text-align: start;
    font-size: 20px;
    color: #a3a3a3;
}
pre {
    overflow-x: auto;
    text-align: start;
}
code {
    min-width: fit-content;
}
section > center > div {
    min-width: 15em;
    max-width: 25em;
}


main {
    z-index: 1;
    
    a {
        display: inline-block;
        border-radius: 5px;

        text-decoration: none;

        color: $link-text;
        background: $bg-dark;
        transition: .2s all ease;

        padding: 0 .25em;

        > span {
            color: $link-text;
            background: $bg-dark;
            transition: inherit;
            border-radius: 7px;
        }

        &:hover{
            color: $bg-dark;
            background: $link-text;
            > span {
                color: $bg-dark;
                background: $link-text;
            }
        }
    }
}


#background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $bg-dark;
    filter: blur(13px);
    transition: 1s all ease;

    > .circle{
        transform: none;
        transition: inherit;

        border-radius: 50%;
        position: absolute;

        &.a-spin{ animation: spin 20s infinite linear; }
        
        &.little{
            width: 23rem;
            height: 23rem;
            font-size: 4em;
        }
        &.big{
            width: 70rem;
            height: 70rem;
        }
        
        &.green{ background: $bg-green; }
        &.dark-green{ background: $bg-green-dark; }

        &.compr-x{ transform: scaleX(.7);}
        &.compr-y{ transform: scaleY(.6);}

        &.wide-x{ transform: scaleX(1.9) scaleY(0.7);}
        &.wide-y{ transform: scaleY(1.7);}
    }

    > #drone{
        position: absolute;
        transition: 3s all ease;
        transition-delay: .4s;
        height: 3em;
        transition-timing-function:cubic-bezier(.38,.5,.14,1.06);
    }

    .star {
        position: absolute;
        left: 0; top: 0;
        
        display: inline-block;
        width: 0; height: 0;
        font-size: 15em;
        
        margin: 0 .9em 1.2em .9em;
        
        border-right:  .3em solid transparent;
        border-bottom: .7em  solid $link-text;
        border-left:   .3em solid transparent;
    
        filter: blur(30px);
        transform: rotate(35deg);
        
        &:before, &:after {
            content: '';
            
            display: block;
            width: 0; height: 0;
            
            position: absolute;
            top: .6em; left: -1em;
    
            border-right:  1em solid transparent;
            border-bottom: .7em  solid $link-text;
            border-left:   1em solid transparent;
    
            transform: rotate(-35deg);
        }
        
        &:after {  
            transform: rotate(35deg);
        }
    }
}


.code-block{
    max-height: 50vh;
    max-width: 50em;
    font-size: 14px;
}

.defenition {
    background-color: rgba(41, 63, 42, 0.5);
    padding: 1em;
    a {
        background: 0;
    }
}

@media (min-width:576px){
    .fs-sm-4{
        font-size: 1.5rem !important;
    }
}